<div class="container mt-5">
	<h1>Ajouter une tâche</h1>
	
	<div class="alert alert-success" *ngIf="success">
		Vous venez d'ajouter une tâche
	</div>

	<form [formGroup]="taskForm" (ngSubmit)="submit()">
		<div class="form-group">
			<label>Nom</label>
			<input formControlName="name" type="text" placeholder="Nom de la tâche" class="form-control">
			<span class="badge badge-danger" *ngIf="!taskForm.controls.name.valid">
				Vous devez saisir entre 3 et 15 caractères
			</span>
		</div>
		<div class="form-group">
			<label>Statut</label>
			<select formControlName="status" class="form-control">
				<option value=""></option>
				<option>To do</option>
				<option>Doing</option>
				<option>Done</option>
			</select>
			<span class="badge badge-danger" *ngIf="!taskForm.controls.status.valid">
				Vous devez sélectionner un statut
			</span>
		</div>

		<button type="submit" class="btn btn-primary" [disabled]='taskForm.status == "INVALID"'>
			Sauvegarder
		</button>
	</form>
</div>