<div class="container mt-5">
	<button routerLink="create" class="btn btn-primary mr-2">Ajouter</button> 	
	<button routerLink="list" class="btn btn-primary">Liste</button>	
</div>

<router-outlet></router-outlet>