<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="col-6">
			<app-create [service]="taskService"></app-create>
		</div>
		<div class="col-6">
			<h1>Liste des tâches</h1>
			
			<input type="text" placeholder="Rechercher un tâche" class="form-control" style="margin-bottom: 25px;" [(ngModel)]="keywords" (input)="filter()"> 
			
			<h2 *ngIf="keywords != ''" style="margin-bottom: 10px;">
				Résultats pour la recherche : {{ keywords }}
			</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Statut</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let task of tasks">
						<td>{{ task.id }}</td>
						<td>{{ task.getName() }}</td>
						<td>{{ task.getStatus() }}</td>
						<td>
							<button class="btn btn-primary" (click)="change(task)">
								Changer le statut
							</button>
						</td>
						<td>
							<button class="btn btn-danger" (click)="remove(task)">
								Supprimer
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>